---
// config import
import hardSkills from "@/data/hardSkills";
// data imports
import softSkills from "@/data/softSkills";
import languages from "../data/languages.ts";
// component imports
import SkillCard from "./SkillCard.astro";
---

<div
	class="relative flex flex-col gap-8 text-n200 w-full mt-10 px-4"
>

</div>
