---
import { getMeConfig } from "@/config";
import { getLocaleFromUrl } from "@/i18n";
import ProfileImage from "./ProfileImage.astro";
import DotWave from "./DotWave.astro";
import Social from "./Social.astro";
import ProfessionTypewriter from "./ProfessionTypewriter";

const locale = getLocaleFromUrl(Astro.url);
const { name } = getMeConfig(locale);
---

<div class="w-full flex items-center justify-center mt-5">
  <div class="flex items-center gap-6 w-full">
    <div class="relative border-[3px] border-primary-dark p-1.5 rounded-full overflow-visible">
      <DotWave count={3} duration={4} />
      <ProfileImage />
    </div>
    <div class="profile-info flex flex-col gap-5 md:gap-4 lg:gap-2 w-full">
      <div class="info">
      <h1 class="text-xl md:text-2xl lg:text-4xl xl:text-4xl text-white">
        {name}
      </h1>
      <ProfessionTypewriter client:idle locale={locale} />
      </div>
      <Social />
    </div>
  </div>
</div>